@import '/src/scss/variables';

.servicesBlock {
  border-radius: 20px;
  background-color: $white;
  padding: 40px 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;

  .title {
    font-size: 2rem;
    color: $white;

    margin-bottom: 20px;
  }
  
  .description {
    font-size: 1rem;
    color: $white;
  }

  .header {
    margin-bottom: 30px;
  }

  .bottom {
    position: relative;
  }

  .price {
    font-size: 2.5rem;
    font-weight: 600;
    white-space: nowrap;
    text-align: center;
    letter-spacing: 1px;
    color: $white;
  }

  &--lp {
    .services-item__title {
      color: $blue;
    }

    .services-item__description {
      color: $black;
    }

    .services-item__price {
      color: $blue;
    }
  }

  &--promo {
    background-color: $blue;
    background: linear-gradient(100deg, #2D55DB 0.54%, #47BAFB 100%);
  }

  &--ecom {
    background: #614385;  /* fallback for old browsers */
    background: -webkit-linear-gradient(100deg, #516395, #614385);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(100deg, #516395, #614385); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  }

  &--tilda {
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}